<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Loyalty Plant Processing</title>

    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/main.css" rel='stylesheet' type='text/css'/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel='stylesheet' type='text/css'/>
    <link rel="stylesheet" type="text/css" href="/css/datatables.min.css"/>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/jquery.noty.packaged.min.js"></script>
    <script type="text/javascript" src="/js/datatables.min.js"></script>
</head>

<body>

<div class="container">
    <div class="row">

        <p></p>
        <h1>Processing - Accounts</h1>
        <p> </p><p> </p>

        <div class="col-md-10 col-md-offset-1">

                    <table id="accounts" class="table table-striped table-bordered table-list">
                        <thead>
                        <tr>
                            <th>Number</th>
                            <th>Name</th>
                            <th>Balance</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>Number</th>
                            <th>Name</th>
                            <th>Balance</th>
                        </tr>
                        </tfoot>
                    </table>
        </div>
    </div>
    <br/><br/>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="input-group">
                <input type="text" id="addAccountName" class="form-control" placeholder="Enter account name"/>
                <span class="input-group-btn">
                            <button type="button" class="btn btn-primary" id="addAccount">
                                <span class="glyphicon glyphicon-ok"></span>
                                Add new account
                            </button>
                 </span>
            </div>
        </div>
    </div>
    <br/><br/>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="input-group">
                <input type="text" id="delAccountName" class="form-control" placeholder="Enter account number"/>
                <span class="input-group-btn">
                            <button type="button" class="btn btn-danger" id="delAccount">
                                <span class="glyphicon glyphicon-remove"></span>
                                Remove account
                            </button>
                 </span>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        var accountsTable = $('#accounts').DataTable( {
                                     "processing": true,
                                     "ajax": "/api/account/all",
                                     "columnDefs": [
                                          {
                                             "render": function ( data, type, row ) {
                                                         return '<a href="/payments/' + data + '">' + data +'</a>';
                                                            },
                                              "targets": 0
                                          }
                                      ],
                                     "columns": [
                                         { "data": "number" },
                                         { "data": "name" },
                                         { "data": "balance" }
                                     ]
                                 } );

    var addAccount = $("#addAccount");
    var addAccountName = $("#addAccountName");
    var delAccount = $("#delAccount");
    var delAccountName = $("#delAccountName");

    addAccount.on('click', function (){

        addAccountName.attr("disabled", true);
        addAccount.attr("disabled", true);

        if(addAccountName.val().length > 0) {
            $.ajax({
                       type: "POST",
                       url: "/api/account/add",
                       dataType: "json",
                       contentType: "application/json",
                       data: JSON.stringify({
                                                name: addAccountName.val()
                                            }),
                       success: function (data) {
                           addAccount.attr("disabled", false);
                           addAccountName.attr("disabled", false);

                           if(data.status == "OK") {

                               accountsTable.ajax.reload();
                               addAccountName.val("");

                               noty({
                                        layout: 'bottomCenter',
                                        text: 'Account created. Taked ' + data.time + 'ms',
                                        type: 'success'
                                    });
                           }
                           else {
                               noty({
                                        layout: 'bottomCenter',
                                        text: 'Something goes wrong',
                                        type: 'error'
                                    });
                           }
                       },
                       error: function (data) {
                           addAccount.attr("disabled", false);
                           addAccountName.attr("disabled", false)

                           noty({
                                    layout: 'bottomCenter',
                                    text: 'Something goes wrong',
                                    type: 'error'
                                });
                       }
                   });
        }
        else {
            noty({
                     layout: 'bottomCenter',
                     text: 'Empty name passed',
                     type: 'error'
                 });
            addAccount.attr("disabled", false);
            addAccountName.attr("disabled", false)
        }
        });

        delAccount.on('click', function (){

            delAccountName.attr("disabled", true);
            delAccount.attr("disabled", true);

            if(delAccountName.val().length > 0) {
                $.ajax({
                           type: "POST",
                           url: "/api/account/remove",
                           dataType: "json",
                           contentType: "application/json",
                           data: JSON.stringify({
                                                    number: delAccountName.val()
                                                }),
                           success: function (data) {
                               delAccount.attr("disabled", false);
                               delAccountName.attr("disabled", false);

                               if(data.status == "OK") {

                                   accountsTable.ajax.reload();
                                   delAccountName.val("");

                                   noty({
                                            layout: 'bottomCenter',
                                            text: 'Account removed. Taked ' + data.time + 'ms',
                                            type: 'success'
                                        });
                               }
                               else {
                                   noty({
                                            layout: 'bottomCenter',
                                            text: 'Something goes wrong',
                                            type: 'error'
                                        });
                               }
                           },
                           error: function (data) {
                               delAccount.attr("disabled", false);
                               delAccountName.attr("disabled", false);

                               noty({
                                        layout: 'bottomCenter',
                                        text: 'Something goes wrong',
                                        type: 'error'
                                    });
                           }
                       });
            }
            else {
                noty({
                         layout: 'bottomCenter',
                         text: 'Empty number passed',
                         type: 'error'
                     });
                delAccount.attr("disabled", false);
                delAccountName.attr("disabled", false)
            }
        });
    } );
</script>

</body>
</html>